{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}
<h1><span data-i18n="skills.my_skills">😎 About Me</span></h1>

<div>
  <h2>  <span class="label-emoji">
                🙋🏻‍♂️
            </span>민동현 <small>Donghyeon Min</small> </h2>

 <img src="{{ site.url }}/img/{{ author.avatar }}" alt="" class="avatar" style="    border-radius: 50%;
    width: 100px;
    height: 100px;
   ">
<h3 style="color: #8565fc">💪 BackEnd Developer</h3>

<p>❝ 최소한의 코드에 많은 기능을 넣고싶은 미니멀리스트 이예요.</p>
<p>퇴근 후에는 새로운 언어와 기술들을 계속 공부하고 있어요.
키보드만 만지고 있어도 행복한 개발자입니다.</p>
 
<hr>
   
</div>
